body
{
 
}
h1 {
    text-align: center;
    font-family:Arial;
    color:crimson;
}
h2 {
    text-align: center;
    font-family: Ebrima;
    color: maroon;
}
p {
    text-align: justify;
    font-size: 110%;
}
